body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.base {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main {
    flex: 1;
}

/* Home Banner */
.home-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-top: 70px;
  background-color: #ffffff;
}

@media screen and (max-width: 600px) {
  .home .banner1 {
    display: none; /* Hide the banner image */
  }

  .home .banner2 {
    display: none; /* Hide the side image */
  }
}

.home-banner img {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
}

.home-text {
  text-align: center;
  max-width: 40%;
}

.home-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 70%;
}

.search-bar button {
  padding: 10px;
  font-size: 1rem;
  background-color: #ff6f00;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-left: 30px;
}

.search-bar button:hover {
  background-color: #e65a00;
}

/* Categories */
.categories-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.category-item {
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.category-item:hover {
  color: #ff6f00;
}

.icon-wrapper {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.category-item:hover .icon-wrapper {
  background-color: #ff6f00;
}

.icon-wrapper img {
  width: 80px;
  height: 80px;
}

.category-item p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

/* Items */
.items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.item {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.item:hover {
  color: #ff6f00;
}

.item-content {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease;
}

.item:hover .item-content {
  background-color: #f1f1f1;
}

.item-logo img {
  max-width: 100%;
  max-height: 150px;
  margin-bottom: 15px;
}

.item-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.item-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.item-details img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.item-tags {
  display: flex;
  justify-content: center;
}

.item-tags span {
  background-color: #f1f1f1;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.account-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.account-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #ff6f00;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #e65a00;
}
