.home-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    padding-top: 70px;
    background-color: #ffffff;
  }
  
  .home-banner img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
  }
  
  .home-text {
    text-align: center;
    max-width: 40%;
  }
  
  .home-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .home-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: 70%;
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 1rem;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-left: 30px;
  }
  
  .search-bar button:hover {
    background-color: #e65a00;
  }
  