<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accountdetails.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_messages.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header class="header">
        {% include 'header.html' %}
        <form method="POST" action="{{ url_for('logout') }}">
            <button type="submit" class="logout-button" style="margin-top: 0px;">Logout</button>
        </form>
    </header>
    <main class="main" style="margin-top: 100px;">
        <div class="container mt-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endwith %}
        </div>
        
        <div class="account-container">
            <div class="account-header">
                <div class="profile-picture">
                    <span class="initial">{{ user.first_name[0] if user.first_name else user.username[0] }}</span>
                </div>
                <div class="user-info">
                    <h1>
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                        {% if user.last_name %}
                            {{ user.last_name }}
                        {% endif %}
                    </h1>
                    <p>Egypt</p>
                </div>
            </div>
            <div class="account-details">
                <label>Email</label>
                <input type="text" value="{{ user.email }}" readonly>
                <label>First Name</label>
                <input type="text" value="{{ user.first_name }}" readonly>
                <label>Last Name</label>
                <input type="text" value="{{ user.last_name }}" readonly>
                <label>Phone Number</label>
                <input type="text" value="{{ user.phone_number }}" readonly>
            </div>
            <form method="POST" action="{{ url_for('delete_account') }}">
                <button type="submit" class="delete-account">Delete account</button>
            </form>
        </div>
        <div class="orders">
            <h2>Your orders</h2>
            {% for order in orders %}
                <div class="order-item">
                    <h3>Order from {{ order.restaurant_name }}</h3>
                    <p>Total Price: ${{ order.total_price }}</p>
                    <p>Address: {{ order.address }}</p>
                    <p>Delivery Time: {{ order.delivery_time }}</p>
                    <p>Order Created At: {{ order.created_at }}</p>
                    <p>Order Status: {{ order.status }}</p>
                    {%if order.status != "cancelled" or order.status != "delivered" %}
                    <div class="order-actions" style="margin-top: 20px;">
                        <a href="{{ url_for('track_order', order_id=order.id) }}" class="track-order-btn">Track Order</a>
                    </div>                    
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </main>
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
