<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_account.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header class="header">
        {% include 'header.html' %}
    </header>

    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <div class="form-container" style="margin-top: 250px;">
        <h1>Add Menu Item</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="restaurant_name">Restaurant Name:</label>
            {% if is_general_admin %}
                <input type="text" id="restaurant_name" name="restaurant_name" required>
            {% else %}
                <input type="text" id="restaurant_name" name="restaurant_name" value="{{ restaurant_name }}" required readonly>
            {% endif %}
            <label for="menu_item_name">Item Name:</label>
            <input type="text" id="menu_item_name" name="menu_item_name" required>

            <label for="menu_item_price">Price:</label>
            <input type="number" id="menu_item_price" name="menu_item_price" required step="0.01">

            <label for="menu_item_description">Description:</label>
            <input type="text" id="menu_item_description" name="menu_item_description" required>

            <label for="image">Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>

            <button type="submit" style="margin: 10px;">Add Menu Item</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".alert-dismissible").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert-dismissible").alert('close');
            });
        });
    </script>
</body>
</html>
