<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Sets the character encoding for the document -->
  <meta charset="UTF-8">
  <!-- Sets the viewport to make the website responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Sets the title of the page dynamically -->
  <title>{{ title }}</title>
  <!-- Links to external CSS files for styling the page -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header+loggedin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_account.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_messages.css') }}">
  <!-- Links to Bootstrap CSS for additional styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <!-- Header section -->
  <header class="header">
    {% include 'header.html' %} <!-- Includes the header.html template -->
  </header>

  <!-- Main content -->
  <main>
    <!-- Flash Messages Container -->
    <div class="container mt-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="alert alert-dismissible fade show" role="alert">
        <!-- Loop through each flash message and display it -->
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% endwith %}
    </div>

    <!-- Form container for creating a new account -->
    <div class="form-container">
      <!-- Form to submit new account details -->
      <form action="{{ url_for('register') }}" method="post">
        <div class="input-group">
          <input type="text" name="firstname" placeholder="Firstname" required>
          <input type="text" name="lastname" placeholder="Lastname" required>
        </div>
        <div class="input-group">
          <select name="country_code" required>
            <option value="+1">+1</option>
            <option value="+44">+44</option>
            <option value="+91">+91</option>
            <option value="+20">+20</option>
          </select>
          <input type="text" name="phone_number" placeholder="Phone Number" required>
        </div>
        <input type="email" name="email" placeholder="Email" required>
        <input type="email" name="confirm_email" placeholder="Rewrite your email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="text" name="username" placeholder="Username" required>
        <button id="register-link" class="button">Register</button>
      </form>
    </div>
  </main>

  <!-- Footer section -->
  <footer class="footer">
    {% include 'footer.html' %} <!-- Includes the footer.html template -->
  </footer>

  <!-- JavaScript files for additional functionalities -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>