<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/track_order.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        {% include 'header.html' %}
    </header>
    <main>
        <div class="container">
            <div class="order-tracker">
                <div class="step">
                    <img src="{{ url_for('static', filename='css/assets/track/confirmed.png') }}" alt="Confirmed">
                    <p>confirmed</p>
                </div>
                <div class="step">
                    <img src="{{ url_for('static', filename='css/assets/track/prepared.png') }}" alt="Prepared">
                    <p>prepared</p>
                </div>
                <div class="step">
                    <img src="{{ url_for('static', filename='css/assets/track/on_way.png') }}" alt="On its way">
                    <p>on its way</p>
                </div>
                <div class="step">
                    <img src="{{ url_for('static', filename='css/assets/track/delivered.png') }}" alt="Delivered">
                    <p>Delivered</p>
                </div>
            </div>
            <div id="status"></div>
        </div>
    </main>
    <script>
        const steps = document.querySelectorAll('.step');
        const status = document.getElementById('status');
        const totalTime = 10000; // total time in milliseconds
        const stepTime = totalTime / steps.length;

        let currentStep = 0;

        function updateStep() {
            if (currentStep < steps.length) {
                steps[currentStep].classList.add('active');
                status.textContent = steps[currentStep].querySelector('p').textContent;
                currentStep++;
                setTimeout(updateStep, stepTime);
            } else {
                status.textContent = "Delivered";
            }
        }

        function startOrder() {
            setTimeout(updateStep, stepTime);
        }

        window.onload = startOrder;
    </script>
</body>
</html>
