<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/track_order.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        {% include 'header.html' %}
    </header>
    <main>
        <div class="container">
            <div class="order-tracker">
                <div class="step" data-status="confirmed">
                    <img src="{{ url_for('static', filename='css/assets/track/confirmed.png') }}" alt="Confirmed">
                    <p>Confirmed</p>
                </div>
                <div class="step" data-status="prepared">
                    <img src="{{ url_for('static', filename='css/assets/track/prepared.png') }}" alt="Prepared">
                    <p>Prepared</p>
                </div>
                <div class="step" data-status="out for delivery">
                    <img src="{{ url_for('static', filename='css/assets/track/on_way.png') }}" alt="On its way">
                    <p>On its way</p>
                </div>
                <div class="step" data-status="delivered">
                    <img src="{{ url_for('static', filename='css/assets/track/delivered.png') }}" alt="Delivered">
                    <p>Delivered</p>
                </div>
            </div>
            <div id="status" style="text-align: center; margin-top: 20px;">Status: {{ order.status | capitalize }}</div>
        </div>
    </main>
    <script>
        const steps = document.querySelectorAll('.step');
        const status = document.getElementById('status');
        const currentStatus = "{{ order.status }}".toLowerCase();

        function activateSteps() {
            let activeReached = false;
            steps.forEach(step => {
                const stepStatus = step.getAttribute('data-status');
                if (stepStatus === currentStatus) {
                    step.classList.add('active');
                    status.textContent = "Status: " + step.querySelector('p').textContent;
                    activeReached = true;
                } else if (activeReached) {
                    step.classList.remove('active');
                } else {
                    step.classList.add('active');
                }
            });
        }

        window.onload = activateSteps;
    </script>
</body>
</html>
