<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header+loggedin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/add_item_to_cart.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <header class="header">
    {% include 'header+order.html' %}
  </header>

  <main class="main">
    <div class="form-container">
      {% if menu_item.image %}
        <img src="{{ url_for('static', filename=menu_item.image.split('static/')[1]) }}" alt="Menu Item Image">
      {% else %}
        <img src="{{ url_for('static', filename='css/assets/menu-item-placeholder.png') }}" alt="Menu Item Placeholder">
      {% endif %}
      <div class="item-details">
        <h1>{{ menu_item.name }}</h1>
        <p>{{ menu_item.description }}</p>
        <p class="price">${{ menu_item.price }}</p>
        <form method="post">
          <div class="quantity-container">
            <label for="quantity">Quantity:</label>
            <button type="button" onclick="decrementQuantity()">-</button>
            <input type="number" id="quantity" name="quantity" min="1" value="1" required>
            <button type="button" onclick="incrementQuantity()">+</button>
          </div>
          <button type="submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="footer">
    {% include 'footer.html' %}
  </footer>

  <script>
    function incrementQuantity() {
      var quantityInput = document.getElementById('quantity');
      quantityInput.value = parseInt(quantityInput.value) + 1;
    }

    function decrementQuantity() {
      var quantityInput = document.getElementById('quantity');
      if (quantityInput.value > 1) {
        quantityInput.value = parseInt(quantityInput.value) - 1;
      }
    }
  </script>
</body>
</html>
