<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header+loggedin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>All Restaurants - EatsExpress</title>
</head>
<body>
  <header class="header">
    {% include 'header+loggedin.html' %}
  </header>

  <main class="main" style="flex: 1; padding-top: 90px;">
    <div class="items-container">
      {% for restaurant in restaurants %}
        <a href="{{ url_for('restaurant_details', restaurant_id=restaurant.id) }}" class="item">
          <div class="item-content">
            <div class="item-logo">
              <img src="{{ url_for('static', filename='css/assets/restaurants/' + restaurant.image_filename) }}" alt="{{ restaurant.name }}">
            </div>
            <h2>{{ restaurant.name }}</h2>
            <div class="item-details">
              <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
              <span> $10 </span>
              <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
              <span> 10 - 15 min </span>
            </div>
            <div class="item-tags">
              {% for tag in restaurant.tags %}
                <span>{{ tag.name }}</span>
              {% endfor %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </main>

  <footer class="footer">
    {% include 'footer.html' %}
  </footer>
</body>
</html>
