<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header+loggedin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <header class="header">
    {% include 'header+order.html' %}
  </header>

  <main class="main">
    <div class="form-container" style="margin: auto; margin-left: 10%; margin-right: 10%;">
      <h1>Confirm Delete Cart</h1>
      <p>{{ message }}</p>
      <form method="post">
        <input type="hidden" name="quantity" value="{{ quantity }}">
        <button type="submit" name="confirm" value="yes">Yes</button>
        <button type="submit" name="confirm" value="no"style="color: #ff6f00;">No</button>
      </form>
    </div>
  </main>

  <footer class="footer">
    {% include 'footer.html' %}
  </footer>
</body>
</html>
