<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Restaurant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_account.css') }}">
</head>
<body>
    <header class="header">
        {% include 'header.html' %}
    </header>
    <div class="form-container" style="margin-top: 250px;">
        <h1>Create New Restaurant</h1>
        <form method="post">
            <label for="name">Restaurant Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
            <button type="submit" style="margin: 10px;">Create Restaurant</button>
        </form>
    </div>
</body>
</html>
