<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_messages.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header class="header">
        {% include 'header.html' %}
    </header>
    
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    
    <main class="main">
        <section id="filtered-restaurants" style="margin-top: 100px;">
            <div class="items-container" style="margin: 50px;">
                {% for restaurant in restaurants %}
                <a href="{{ url_for('restaurant_details', restaurant_id=restaurant.id) }}" class="item">
                    <div class="item-content" style="margin: 50px;">
                        <div class="item-logo">
                            <img src="{{ url_for('static', filename=restaurant.image.split('static/')[1]) }}" alt="{{ restaurant.name }}">
                        </div>
                        <h2>{{ restaurant.name }}</h2>
                        <div class="item-details">
                            <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                            <span>${{ restaurant.delivery_fee }}</span>
                            <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                            <span>{{ restaurant.delivery_time }}</span>
                        </div>
                        <div class="item-tags">
                            <span>{{ restaurant.cuisines }}</span>
                            <span>{{ restaurant.categories }}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
