<div class="footer-logo">
  <p><span class="text-wrapper">EatsExpress</span> <span class="span">.</span></p>
</div>
<div class="footer-content">
  <div class="column">
    <div class="text-wrapper-6">Popular Cuisines</div>
    <p class="text-wrapper-5">
      <a href="#" class="footer-link">Italian</a><br />
      <a href="#" class="footer-link">Mexican</a><br />
      <a href="#" class="footer-link">Sandwiches</a><br />
      <a href="#" class="footer-link">Japanese</a>
    </p>
  </div>
  <div class="column">
    <div class="text-wrapper-6">Popular Areas</div>
    <p class="text-wrapper-5">
      <a href="#" class="footer-link">Masaken El Rehab</a><br />
      <a href="#" class="footer-link">Salah ElDin Street</a><br />
      <a href="#" class="footer-link">Shabab El Mosalas</a><br />
      <a href="#" class="footer-link">Sharea' El Khawaga</a>
    </p>
  </div>
  <div class="column">
    <div class="text-wrapper-6">Restaurants</div>
    <p class="text-wrapper-5">
      <a href="#" class="footer-link">Lan Yuan - Maadi</a><br />
      <a href="#" class="footer-link">Planet Africa</a><br />
      <a href="#" class="footer-link">Taboon</a><br />
      <a href="#" class="footer-link">Hadrmout</a>
    </p>
  </div>
  <div class="column">
    <div class="text-wrapper-6">Get in Touch</div>
    <div class="get-in-touch">
      <p class="feel-free-to-get-in">
        <span class="text-wrapper-7">Feel free to get in touch with us via email<br /></span>
        <a href="mailto:customersupport@eatsexpress.com" class="text-wrapper-8">customersupport@eatsexpress.com</a>
      </p>
      <div class="social">
        <div class="group"><img class="vector" src="{{ url_for('static', filename='css/assets/footer/vector-2.svg') }}" /></div>
        <div class="vector-wrapper"><img class="img" src="{{ url_for('static', filename='css/assets/footer/vector.svg') }}" /></div>
        <div class="img-wrapper"><img class="vector-2" src="{{ url_for('static', filename='css/assets/footer/vector-1.svg') }}" /></div>
      </div>
    </div>
  </div>
</div>

