<div class="header">
  <div class="navigation">
    <div class="logo">
      <a href="{{ url_for('main') }}">
        <p class="eats-express"><span class="text-wrapper">EatsExpress</span> <span class="span">.</span></p>
      </a>
    </div>
    <div class="menu">
      <a href="#home" class="nav-link text-wrapper-3">Home</a>
      <a href="#Categories" class="nav-link text-wrapper-4">Categories</a>
      <a href="#restaurants" class="nav-link text-wrapper-4">Restaurants</a>
      <a href="#beverages" class="nav-link text-wrapper-4">Beverages</a>
      <a href="#cuisines" class="nav-link text-wrapper-4">Cuisines</a>
      <a href="#breakfast" class="nav-link text-wrapper-4">Breakfast</a>
    </div>
    <a href="{{ url_for('login') }}" class="button">
      <div class="overlap-group">
        <div class="text-wrapper-2">Login</div>
      </div>
    </a>
  </div>
</div>
