<div class="header">
  <div class="navigation">
    <div class="logo">
      <p class="eats-express"><span class="text-wrapper">EatsExpress</span> <span class="span">.</span></p>
    </div>
    <div class="user-info">
      <img src="{{ url_for('static', filename='css/assets/profile.png') }}" alt="Profile Icon" class="profile-icon">
      <span class="user-greeting">Hello, {{ user.username }}</span>
      <a href="{{ url_for('view_cart') }}">
        <img src="{{ url_for('static', filename='css/assets/cart.png') }}" alt="Cart Icon" class="cart-icon">
      </a>
    </div>
  </div>
</div>
