<div class="header">
  <div class="navigation">
    <div class="logo">
      <p class="eats-express"><span class="text-wrapper">EatsExpress</span> <span class="span">.</span></p>
    </div>
    <div class="menu">
      <a href="#home" class="nav-link text-wrapper-3">Home</a>
      <a href="#Categories" class="nav-link text-wrapper-4">Categories</a>
      <a href="#restaurants" class="nav-link text-wrapper-4">Restaurants</a>
      <a href="#beverages" class="nav-link text-wrapper-4">Beverages</a>
      <a href="#cuisines" class="nav-link text-wrapper-4">Cuisines</a>
      <a href="#breakfast" class="nav-link text-wrapper-4">Breakfast</a>
    </div>
    <div class="user-info">
      <img src="{{ url_for('static', filename='css/assets/profile.png') }}" alt="Profile Icon" class="profile-icon">
      <div class="user-dropdown">
        <span class="user-greeting">Hello, {{ user.username }}</span>
        <a href="{{ url_for('view_cart') }}">
          <img src="{{ url_for('static', filename='css/assets/cart.png') }}" alt="Cart Icon" class="cart-icon">
        </a>
        <div class="dropdown-content">
          <a href="{{ url_for('accountdetails') }}">View Account</a>
          <div class="account-summary">
            <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
            <p><strong>Address:</strong> {{ user.address }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
