<div class="header">
  <div class="navigation">
    <div class="logo">
      <p class="eats-express"><span class="text-wrapper">EatsExpress</span> <span class="span">.</span></p>
    </div>
    <div class="menu">
      <a href="#home" class="nav-link text-wrapper-3">Home</a>
      <a href="#Categories" class="nav-link text-wrapper-4">Categories</a>
      <a href="#restaurants" class="nav-link text-wrapper-4">Restaurants</a>
      <a href="#beverages" class="nav-link text-wrapper-4">Beverages</a>
      <a href="#cuisines" class="nav-link text-wrapper-4">Cuisines</a>
      <a href="#breakfast" class="nav-link text-wrapper-4">Breakfast</a>
    </div>
    <div class="user-info">
      <img src="assets/profile.png" alt="Profile Icon" class="profile-icon">
      <span class="user-greeting">Hello, User!</span>
      <a href="viewcart.html">
        <img src="assets/cart.png" alt="Cart Icon" class="cart-icon">
      </a>
    </div>
  </div>
</div>
