<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <header class="header">
    <!-- Include the header.html file -->
    {% include 'header.html' %}
  </header>

  <main class="main">
    <div class="blurry-background">
      <section id="home">
        <div class="home-banner">
          <img src="{{ url_for('static', filename='css/assets/banner-img-1-2.png') }}" alt="Salad Image" class="banner1">
          <div class="home-text">
            <h1>Order food online in Egypt</h1>
            <p>Order food and grocery delivery online from hundreds of restaurants and shops nearby.</p>
            <div class="search-bar">
              <input type="text" placeholder="city, area, street">
              <button>Let's go</button>
            </div>
          </div>
          <img src="{{ url_for('static', filename='css/assets/banner-img-2-1.png') }}" alt="Pasta Image" class="banner2">
        </div>
      </section>
    </div>
    
    <div class="login-container">
      <div class="login-box">
        <h1>Welcome back!</h1>
        <form>
          <input type="text" placeholder="Email, username">
          <input type="password" placeholder="password">
          <button type="submit">Login</button>
        </form>
        <p><a href="create_account.html">Create a new account?</a></p>
      </div>
    </div>
  </main>

  <footer class="footer">
    <!-- Include the footer.html file -->
    {% include 'footer.html' %}
  </footer>
</body>
</html>
