<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header+loggedin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurant.css') }}">
  <title>{{ restaurant.name }} - EatsExpress</title>
</head>
<body>
  <header class="header">
    {% include 'header+order.html' %}
  </header>

  <main class="main">
    <div class="restaurant-container">
      <img src="{{ url_for('static', filename='css/assets/restaurant-placeholder-large.png') }}" alt="Restaurant Image">
      <h1> {{ restaurant.name }} </h1>
      {% for item in menu_items %}
        <a  class="menu-item">
          <div class="menu-item-content">
            <img src="{{ url_for('static', filename='css/assets/menu-item-placeholder.png') }}" alt="Menu Item">
            <div class="menu-item-details">
              <h2>{{ item.name }}</h2>
              <p>{{ item.description }}</p>
              <p style="font-size: 25px;"><strong>Price:</strong> ${{ item.price }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </main>

  <footer class="footer">
    {% include 'footer.html' %}
  </footer>
</body>
</html>
