<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trackorder.css') }}">
</head>
<body>
    <header class="header">
        {% include 'header.html' %}
    </header>
    <main>
        <div class="main_container">
        <div class="order-track">
            <div class="track-step completed"><span class="step-icon">&#10003;</span>Confirmed</div>
            <div class="track-step completed"><span class="step-icon">&#9993;</span>Prepared</div>
            <div class="track-step completed"><span class="step-icon">&#128690;</span>On its way</div>
            <div class="track-step"><span class="step-icon">&#128230;</span>Delivered</div>
        </div>
        </div>
    </main>    
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
</body>
</html>
