<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trackorder.css') }}">
</head>
<body>
    <header class="header">
        {% include 'header.html' %}
    </header>
    <main>
        
    </main>
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
</body>
</html>
