<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header+loggedin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <header class="header">
    <!-- Include the header+loggedin.html file -->
    {% include 'header+loggedin.html' %}
  </header>

  <main class="main" style="flex: 1; padding-top: 90px;">
    <div class="items-container">
          <a href="#garnell" class="item">
            <div class="item-content">
              <div class="item-logo">
                <img src="{{ url_for('static', filename='css/assets/restaurants/Garnell.png') }}" alt="Garnell">
              </div>
              <h2>Garnell</h2>
              <div class="item-details">
                <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                <span>Free delivery</span>
                <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                <span>10-15 min</span>
              </div>
              <div class="item-tags">
                <span>Japanese</span>
                <span>Asian</span>
              </div>
            </div>
          </a>
          <a href="#romapizza" class="item">
            <div class="item-content">
              <div class="item-logo">
                <img src="{{ url_for('static', filename='css/assets/restaurants/romapizza.png') }}" alt="Roma Pizza">
              </div>
              <h2>Roma pizza</h2>
              <div class="item-details">
                <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                <span>$20 delivery</span>
                <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                <span>20-25 min</span>
              </div>
              <div class="item-tags">
                <span>Italian</span>
                <span>Pizza</span>
              </div>
            </div>
          </a>
          <a href="#vinnyspizza" class="item">
            <div class="item-content">
              <div class="item-logo">
                <img src="{{ url_for('static', filename='css/assets/restaurants/vinnys.png') }}" alt="Vinny's Pizza">
              </div>
              <h2>vinny's pizza</h2>
              <div class="item-details">
                <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                <span>$20 delivery</span>
                <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                <span>20-25 min</span>
              </div>
              <div class="item-tags">
                <span>Italian</span>
                <span>Pizza</span>
              </div>
            </div>
          </a>
          <a href="#vinnyspizza" class="item">
            <div class="item-content">
              <div class="item-logo">
                <img src="{{ url_for('static', filename='css/assets/restaurants/vinnys.png') }}" alt="Vinny's Pizza">
              </div>
              <h2>vinny's pizza</h2>
              <div class="item-details">
                <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                <span>$20 delivery</span>
                <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                <span>20-25 min</span>
              </div>
              <div class="item-tags">
                <span>Italian</span>
                <span>Pizza</span>
              </div>
            </div>
          </a>
          <a href="#vinnyspizza" class="item">
            <div class="item-content">
              <div class="item-logo">
                <img src="{{ url_for('static', filename='css/assets/restaurants/vinnys.png') }}" alt="Vinny's Pizza">
              </div>
              <h2>vinny's pizza</h2>
              <div class="item-details">
                <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                <span>$20 delivery</span>
                <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                <span>20-25 min</span>
              </div>
              <div class="item-tags">
                <span>Italian</span>
                <span>Pizza</span>
              </div>
            </div>
          </a>
          <a href="#vinnyspizza" class="item">
            <div class="item-content">
              <div class="item-logo">
                <img src="{{ url_for('static', filename='css/assets/restaurants/vinnys.png') }}" alt="Vinny's Pizza">
              </div>
              <h2>vinny's pizza</h2>
              <div class="item-details">
                <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                <span>$20 delivery</span>
                <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                <span>20-25 min</span>
              </div>
              <div class="item-tags">
                <span>Italian</span>
                <span>Pizza</span>
              </div>
            </div>
          </a>
          <a href="#vinnyspizza" class="item">
            <div class="item-content">
              <div class="item-logo">
                <img src="{{ url_for('static', filename='css/assets/restaurants/vinnys.png') }}" alt="Vinny's Pizza">
              </div>
              <h2>vinny's pizza</h2>
              <div class="item-details">
                <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                <span>$20 delivery</span>
                <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                <span>20-25 min</span>
              </div>
              <div class="item-tags">
                <span>Italian</span>
                <span>Pizza</span>
              </div>
            </div>
          </a>
          <a href="#vinnyspizza" class="item">
            <div class="item-content">
              <div class="item-logo">
                <img src="{{ url_for('static', filename='css/assets/restaurants/vinnys.png') }}" alt="Vinny's Pizza">
              </div>
              <h2>vinny's pizza</h2>
              <div class="item-details">
                <img src="{{ url_for('static', filename='css/assets/delivery.png') }}" alt="Delivery Icon">
                <span>$20 delivery</span>
                <img src="{{ url_for('static', filename='css/assets/time.png') }}" alt="Time Icon">
                <span>20-25 min</span>
              </div>
              <div class="item-tags">
                <span>Italian</span>
                <span>Pizza</span>
              </div>
            </div>
          </a>
  </main>

  <footer class="footer">
  <!-- Include the footer.html file -->
  {% include 'footer.html' %}
  </footer>
</body>
</html>
