{% extends 'main_loggedin.html' %}
{% block title %}View Account - EatsExpress{% endblock %}
{% block content %}
<div class="account-container">
  <h1>My Account</h1>
  <form method="POST">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name" value="{{ current_user.first_name }}" required>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" id="last_name" name="last_name" value="{{ current_user.last_name }}" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="{{ current_user.email }}" required>
    </div>
    <div class="form-group">
      <label for="phone_number">Phone Number</label>
      <input type="text" id="phone_number" name="phone_number" value="{{ current_user.phone_number }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Account</button>
  </form>
</div>
{% endblock %}
